<html>
    <head>
        <title>Login</title>
    </head>
    <body>
            {% if error %}
            <h3> {{ error }}</h3>
            {% else %}
                <form action="" method="post" >
                    {% csrf_token %}
                    <h1>Login</h1>
                    <hr>
                    <label>Username:</label>
                    <input type="text" name="username" placeholder="Enter Username" autocomplete="new-password">
                    <hr>
                    <label>Password:</label>
                    <input type="password" name="password" placeholder="Enter Password" autocomplete="new-password" >
                    <hr>
                    <button type="submit">Login</button>

                    <p>Don't have an account ? <a href="/authsite/signup/">Register/Signup</a> </p>
                </form>
            {% endif %}
    </body>
</html>